
body{
    background-color: rgb(48, 46, 46);
}

.content{
    background-color: black;
    height: 300px;
    width: 380px;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
}

.conatiner{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    flex-direction: column;
}

#watch_container{
    font-size: 100px;
    box-shadow: 0px 0px 10px rgb(237, 203, 203);
    padding: 10px;
    color: rgb(132, 120, 120);
    border-radius: 10px;
    margin-bottom: 10px;
}

#buttons{
    display: flex;
    text-align: center;
    margin-left: 5px;
    /* margin-top: 5px; */
}

button{
    color: rgb(234, 231, 231);
    background-color: rgb(118, 79, 7);
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: larger;
    margin: 10px;
    margin-top: 30px;
    width: 100px;
    box-shadow: 1px 1px 1px 1px rgb(215, 191, 191);
}

button:hover{
    cursor: pointer;
}

button:active{
    box-shadow: none;
    transition: all 0.5;
}



